<!-- Begin MailChimp Signup Form -->
<div class="newsletters">
<div id="mc_embed_signup">
<form action="https://www.aweber.com/scripts/addlead.pl" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="searchform validate" target="_blank" novalidate>
  
  <div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="1934872379" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="hl-newsletter2" />
<input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_1088b8d1bb387d05ce3d4dc92273ca10" />

<input type="hidden" name="meta_adtracking" value="Hi-Lux_Optics_Newsletter" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="email" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
  
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="email" class="email" id="mce-EMAIL" placeholder="Get the Latest News and Updates" required>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f6efaf2aa7fd4b4ed81371791_e32bd0c22f" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default subscribebtn">
    </div>
</form>
</div>
  </div>