<div class="wishlistform" style="display:none;">
{% form 'customer' %}
<input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
<input type="hidden" name="contact[tags]" value="{{ value }}" />
<button type='submit' class="wishlist-btn wishbtn">Add to Wishlist</button>
{% endform %}
</div>